/*Navbar*/
.navbar {
  background-color: #8d0606;
  font-family: "Montserrat";
}

.navbar-brand {
  color: $color-white;
  font-size: 2.5rem;
  font-family: oswald, sans-serif;


  &:hover {
    color: $color-white;
  }
  @include respond (mobile) {
    padding: 1rem;

    .navbar-brand {
      font-size: 1rem;
    }

  }
}

.nav-link {
  color: $color-white;
  font-family: oswald, sans-serif;
  font-size: 1rem;

  &:hover {
    color: $color-white;
    text-overflow: clip;
    
  }
}

.dropdown-menu {
  background-color: $color-white;
  border: none;
}

.dropdown-item {
  color: $color-dark;

  &:hover {
    background-color: $color-light;
    color: $color-primary;
  }
}

.logo-nav {
  width: 60px;
  height: 60px;
}

