/*banner del hero*/

.banner {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  margin-left: calc(50% - 50vw);
}

/*section del sponsor*/

.sponsors-image {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  padding: 1rem;
  margin-left: calc(50% - 50vw);
}

/*socios page*/

.info-socios {
  height: 600px;
  width: auto;
  object-fit: cover;
  align-items: center;
  margin-left: calc(50% - 50vw);
  padding: 3rem;
  
}

/*Fixture*/

.fixture {
  text-align: center;
  text-decoration: dashed;
  align-content: center;
  .images-fixture {
  width: 100vh;
  height:100vh;
  object-fit: cover;
  padding: 3rem;
  margin-left: calc(50% - 50vw);
  border-radius: 10px;
}
}
