/* body general */

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-weight: 400;
  line-height: 1.6;
}


/*banner del hero*/

.banner {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  margin-left: calc(50% - 50vw);
}

/*section del sponsor*/

.sponsors-image {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  padding: 1rem;
  margin-left: calc(50% - 50vw);
}

/*socios page*/

.info-socios {
  height: 600px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

/*Fixture*/

.fixture {
  text-align: center;
  align-content: center;
  .images-fixture {
  width: 600px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
}
.noticias {
  padding: 3rem 1rem;
  background-color: $color-primary;

  &-title {
    text-align: center;
    color: $color-white;
    margin-bottom: 2rem;
    
  }
}