/*banner del hero*/

.banner {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  margin-left: calc(50% - 50vw);
}

/*section del sponsor*/

.sponsors-image {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  padding: 1rem;
  margin-left: calc(50% - 50vw);
}

/*socios page*/

.info-socios {
  height: 600px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

/*Fixture*/

.fixture {
  text-align: center;
  align-content: center;
  .images-fixture {
  width: 600px;
  height:auto;
  object-fit: cover;
  padding: 1rem;
  border-radius: 10px;
}
}
