/*VARIABLES PRINCIPALES*/

//* colores institucionales *//  

$color-primary: #8d0606;
$color-white: #ffffff;
$color-dark:  #1a1a1a;
$color-light: #f4f4f4;

//* color de textos *//
$color-text: #333333;

//* tipografia *//
$font-base: Arial, Helvetica, sans-serif;

//*navbar particular*//
$navbar-height: 70px;