// para botones //
.btn {
    @include button-base
}

/*boton principal*/

.btn-primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: $color-light;
        color: $color-white;
    }
}

/*boton secundario*/
.btn-outline {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}