// para botones //
.btn {
    @include button-base
}

/*boton principal*/

.btn-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken ($color-primary, 10%);
  }
}


/*boton secundario*/
.btn-outline {
  background-color: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}