/*cards para las noticias*/
.noticias {
  padding: 3rem 1rem;

  &-title {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.noticias-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Card */
.noticia-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 500px;  
    object-fit: cover;
  }
}

.noticia-content {
  padding: 1rem;

  h5 {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
