// reset //
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
